body{
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.top {
    margin:none;
    background-color: #1f2937 ;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.desc, .header-links a{
    font-size: 18px;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-links{
    display: flex;
    gap: 30px;
}

.header-links a{
    text-decoration: none;
}

.intro{
    display: flex;
    gap:20px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex: 1 1 auto
}

button{
    background-color: #3882f6;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
}

.text{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
}